In [6]:
import pandas as pd
import numpy as np
import datetime as dt

In [34]:
# read the raw csv file
df =pd.read_csv("Resources/data.csv")
df.head(100)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
95,OD96,Veena,"Eggs, Meat & Fish",Fish,Virudhunagar,11-06-2018,West,1230,0.13,442.80,Tamil Nadu
96,OD97,Sudha,Food Grains,Atta & Flour,Ooty,11-09-2018,East,1856,0.21,723.84,Tamil Nadu
97,OD98,Sharon,Fruits & Veggies,Fresh Fruits,Trichy,6/17/2018,West,545,0.31,125.35,Tamil Nadu
98,OD99,Vince,Snacks,Chocolates,Dharmapuri,09-06-2017,Central,2301,0.28,391.17,Tamil Nadu
99,OD100,Krithika,Oil & Masala,Spices,Chennai,8/29/2017,Central,1475,0.26,531.00,Tamil Nadu

In [35]:
# check the shape of the dataframe
df.shape

(9994, 11)

In [36]:
# check datatype for all columns
df.dtypes

Order ID          object
Customer Name     object
Category          object
Sub Category      object
City              object
Order Date        object
Region            object
Sales              int64
Discount         float64
Profit           float64
State             object
dtype: object

In [ ]:
# Replace hyphens with slashes for consistency in Order date column
df["Order Date"] = df["Order Date"].str.replace('-', '/')

In [38]:
# change the dataype for the 'date' column to datatime
df["Order Date"] = pd.to_datetime(df["Order Date"], errors='coerce', dayfirst=False)
df.head(100)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,2017-11-08,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-11-08,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,2017-06-12,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-10-11,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,2016-10-11,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
95,OD96,Veena,"Eggs, Meat & Fish",Fish,Virudhunagar,2018-11-06,West,1230,0.13,442.80,Tamil Nadu
96,OD97,Sudha,Food Grains,Atta & Flour,Ooty,2018-11-09,East,1856,0.21,723.84,Tamil Nadu
97,OD98,Sharon,Fruits & Veggies,Fresh Fruits,Trichy,2018-06-17,West,545,0.31,125.35,Tamil Nadu
98,OD99,Vince,Snacks,Chocolates,Dharmapuri,2017-09-06,Central,2301,0.28,391.17,Tamil Nadu
99,OD100,Krithika,Oil & Masala,Spices,Chennai,2017-08-29,Central,1475,0.26,531.00,Tamil Nadu